html{
    font-family: 'Consolas', monaco, monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0px;
    background-color:#121516;
    background-repeat: no-repeat;
    color: #5ab;
}

.title{
    /* COLORS */
    background-color: #1b1f21;
    color: #ffb133;
    text-decoration: none;

    /* CONTAINER MANIPULATION */
    margin: 1%;
    padding: 1%;
    width: auto;
    height: max-content;
    display: flex;
    word-wrap:break-word;

    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 72px;
    font-weight: normal;
}

.logo{
    color: #ffb133;
    text-decoration: none;
}

.input{
    /* COLORS */
    background-color: #1b1f21;
    color: #85939e;
    border: #1b1f21;
    border-radius: 1%;
    
    /* CONTAINER MANIPULATION */
    margin: 1%;
    padding: 1%;
    width: auto;
    outline: none;
    place-items: center;
    
    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 30px;
    font-weight: 100;
    transition: color 0.5s;
}
.input::selection{
    background-color: #454d53;
}

.inBox{
    /* COLORS */
    background-color: #2f3539;
    color: #85939e;
    border: #1b1f21;
    border-radius: 10px;
    outline: none;
    
    /* CONTAINER MANIPULATION */
    margin: 1%;
    padding: 20px;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 32px;
    font-weight: 100;
    transition: color 0.5s;
}

.inBox:focus{
    color: #fff;
    transition: color 0.5s;
}
.inBox::selection{
    background-color: #454d53;
}

.outBox{
    /* COLORS */
    background-color: #1b1f21;
    color: #ffb133;

    /* CONTAINER MANIPULATION */
    margin: 1%;
    padding: 1%;
    width: auto;
    height: max-content;
    display: flex;
    word-wrap:break-word;

    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 72px;
    font-weight: bold;
}
.outBox::selection{
    background-color: #2f3539;
}

.result::selection{
    color: #2f3539;
    background-color: #ffb133;
}

.other{
    /* COLORS */
    background-color: #1b1f21;
    color: #ffb133;

    /* CONTAINER MANIPULATION */
    margin: 1%;
    padding: 1%;
    width: auto;
    height: max-content;
    display: flex;
    word-wrap:break-word;

    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 24px;
    font-weight: normal;
}
.other::selection{
    background-color: #2f3539;
}

.embed{
    /* COLORS */
    background-color: #2f3539;
    color: #ffb133;
    border-radius: 10px;
    border: 0px solid #121516;

    /* CONTAINER MANIPULATION */
    margin: 5%;
    margin-bottom: 0px;
    padding: 5%;
    width: 90%;
    height: max-content;

    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    transition: all 0.5s;
}
.embed:hover{
    /*border: 5px solid #ffb133;*/
    box-shadow: 10px 10px 1px #ffb133;
}

.embedTitle{
    /* COLORS */
    border-bottom: #85939e;
    
    /* CONTAINER MANIPULATION */
    margin-top: 0px;
    
    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 24px;
    font-weight: bold;
}

.embedText{
    padding: 1%;
    border-radius: 5px;
    color: #ffb133;
    text-decoration: none;
    transition: all 0.5s;
}
.embedText:hover{
    padding-right: 50%;
    background-color: #ffb133;
    color: #2f3539;
}

.embedDesc{
    /* COLORS */
    color: #85939e;

    /* FONT */
    font-family: 'Consolas', monaco, monospace;
    font-size: 16px;
    font-weight: normal;
}

.default{
    color: #454d53;
}
.default::selection{
    background-color: #ffb133;
}

.otherProjects{
    background-color: #1b1f21;

    display: grid;
    gap: 1%;
    
    grid-template-columns: 24% 24% 24% 23%;
    padding-bottom: 1%;
}

colors{
    color: #fff
    #121516 #1b1f21 #2f3539 #454d53 #5d676f #85939e
    #ffb133
}