/*
font-family: 'Syne Mono', monospace;
font-family: 'VT323', monospace;
*/

:root{
    --window: 100vw;
    --master-margin: 30%;
    --mobile-margin: 0%;
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'DM Mono', monospace;
    background-color: #000;
}

html::-webkit-scrollbar{
    display: none;
}

*::selection{
    background-color: #fff2;
    text-shadow: 0px 0px 10px;
}

/* Titile bar start */
h1{
    background-color: #ffffff05;
    color: #fffa;

    font-weight: 100;
    font-size: 40px;
    
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
    margin: 0px;

    margin-left: var(--mobile-margin);
    margin-right: var(--mobile-margin);

    width: auto;
    min-width: fit-content;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #fff2;

    backdrop-filter: blur(20px) brightness(1.3);

    z-index: -1;
}
.status_bar{
    font-size: 12px;
    background: none;
}
.logo{
    margin-top: -20px;
    height: 60px;
    width: auto;
    filter: opacity(0.75);
}

#arg_bg_dark{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    filter: brightness(0.5) blur(2px);
}

h3{
    margin: 10px;

    margin-left: var(--mobile-margin);
    margin-right: var(--mobile-margin);

    padding: 10px;
    padding-top: 0px;
    width: auto;
    z-index: -1;

    background-color: #fff0;
    box-shadow: inset 0px 0px 100px #fff0;
    border-radius: 5px;
    border: 1px solid #fff0;

    color: #fffa;
    font-weight: 400;
    font-size: 16;

    backdrop-filter: blur(20px) brightness(1.4) saturate(110%);
    transition: all 0.5s ease;
}
h3:hover{
    border: 1px solid #fff3;
    box-shadow: inset 0px 0px 100px #fff1;
    text-shadow: 0px 0px 10px;

    backdrop-filter: blur(20px) brightness(1.4) saturate(130%);
    
    transition: all 0.5s, box-shadow 2s, border 2s;
}

.description a{
    font-weight: bold;
    color: #f0a;
}

pre{
    margin: 10px;
    padding: 10px;
    width: fit-content;

    font-size: 16px;
    background-color: #fff1;
    color: #fff5;
    border-radius: 5px;
    border: solid 1px #fff0;
    box-shadow: inset 0px 0px 20px #fff0;
    transition: all 1s;
}
h3:hover pre{
    color: #fff8;
    text-shadow: 0px 0px 5px #fff2;
    border: solid 1px #fff4;
    box-shadow: inset 0px 0px 20px #fff2;
    transition: all 1s;
}

@media screen and (min-width: 808px) {
    h1{
        background-color: #ffffff05;
        color: #fffa;

        font-size: 40px;
        
        padding: 10px;
        padding-bottom: 5px;
        padding-top: 15px;
        margin: 0px;

        /*
        margin-left: var(--master-margin);
        margin-right: var(--master-margin);
        min-width: 1024px;
        */

        margin: auto;

        width: 768;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #fff2;

        backdrop-filter: blur(20px) brightness(1.3);

        z-index: -1;
    }
    h3{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        
        width: 768px;

        padding: 10px;
        padding-top: 0px;
        z-index: -1;

        background-color: #fff0;
        box-shadow: inset 0px 0px 100px #fff0;
        border-radius: 5px;
        border: 1px solid #fff0;

        color: #fffa;
        font-weight: 400;
        font-size: 16;

        backdrop-filter: blur(20px) brightness(1.4) saturate(110%);
        transition: all 0.5s ease;
    }
    h3:hover{
        /*margin: 20px;*/
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        padding-left: calc(10px + 2%);
        padding-right: calc(10px + 2%);
        border: 1px solid #fff3;
        box-shadow: inset 0px 0px 100px #fff1;
        text-shadow: 0px 0px 10px;

        backdrop-filter: blur(20px) brightness(1.4) saturate(130%);

        transition: all 0.5s, box-shadow 2s, border 2s;
    }
}

#version {
    color: #fff3;
}