html{
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color:#1b1f21;
    margin-top: 25vh;
}

h1{
    margin: auto;
    color: #85939e;
    text-align: center;
    image-rendering: crisp-edges;
}

h2{
    margin: auto;
    margin-top: 25px;
    background-color: #2f3539;
    color: #85939e;
    font-weight: 200;
    border-radius: 100px;
    box-shadow: 0px 0px 20px #12151630;
    padding: 20px;
    text-align: center;
    width: fit-content;
    font-size: 300%;
}

colors{
    color: #fff
    #121516 #1b1f21 #2f3539 #454d53 #5d676f #85939e
    #232a3d #39314b #564064 #8e478c #cd6093 #ffaeb6
}