html{
    font-family: 'DM Sans', sans-serif;
}

body{
    margin: 0px;
    background-color:#121516;
}

h2{
    padding: 20px;
    background-color: #1b1f21;
    border: 10px solid #1b1f21;
    border-bottom-left-radius: 40px;
}

h1{
    font-weight: 200;
    margin: 30px;
    color: #1b1f21;
}
list{
    font-size: large;
}
