:root{
    --rval: 0;
    --gval: 0;
    --bval: 0;

    --thumbcolor: #fff;
    --thumbsize: 25px;
    --thumbtranstime: 0.25s ease;

    --slidercolor: #202028;
}

html{
    background-color: rgb(var(--rval),var(--gval),var(--bval));
}


.slidecontainer {
    width: 100%;
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;

    outline: none;

    width: calc(255px + var(--thumbsize) + var(--thumbsize) - 10px);
    height: var(--thumbsize); 
    
    background: var(--slidercolor); 

    border-radius: 100px;
    
    box-shadow: inset 0px 0px 0px 10px var(--slidercolor), inset 0px 0px 0px 11px #fff2;

    -webkit-transition: 0.25s ease; 
    transition:  0.25s ease;
}

/* Mouse-over effects */
.slider:hover {
    box-shadow: inset 0px 0px 0px 3px var(--slidercolor), inset 0px 0px 0px 4px #fff2;
}

#red{
    background: linear-gradient(to right , rgb(0,var(--gval),var(--bval)) , rgb(255,var(--gval),var(--bval))); 
}

#green{
    background: linear-gradient(to right , rgb(var(--rval),0,var(--bval)) , rgb(var(--rval),255,var(--bval))); 
}

#blue{
    background: linear-gradient(to right , rgb(var(--rval),var(--gval),0) , rgb(var(--rval),var(--gval),255)); 
}

.slider::-moz-range-thumb {
    width: var(--thumbsize);  
    height: var(--thumbsize); 

    background: var(--slidercolor);

    border-radius: 50%;

    box-shadow: inset 0px 0px 0px 3px var(--slidercolor), inset 0px 0px 0px 6px #fff, inset 0px 0px 0px 10px var(--slidercolor);
    
    cursor: pointer;

    -webkit-transition: var(--thumbtranstime); 
    transition:  var(--thumbtranstime);
}

.slider:hover.slider::-moz-range-thumb {
    background: #0000;
    
    box-shadow: inset 0px 0px 0px 2px var(--slidercolor), inset 0px 0px 0px 3px #fff, inset 0px 0px 0px 6px var(--slidercolor);

    -webkit-transition: var(--thumbtranstime); 
    transition:  var(--thumbtranstime);
}

.slider:hover.slider::-moz-range-thumb:active {
    box-shadow: inset 0px 0px 0px 4px var(--slidercolor), inset 0px 0px 0px 5px #fff, inset 0px 0px 0px 5px var(--slidercolor);

    -webkit-transition: var(--thumbtranstime); 
    transition:  var(--thumbtranstime);
}

.slider:hover.slider::-moz-range-thumb:hover {   
    box-shadow: inset 0px 0px 0px 4px var(--slidercolor), inset 0px 0px 0px 5px #fff, inset 0px 0px 0px 5px var(--slidercolor);

    -webkit-transition: var(--thumbtranstime); 
    transition:  var(--thumbtranstime);
}